.background{
    background-color: black;
    margin: auto;
    
}
#title{
	color: yellow;
	text-align: center;
}
.UNS{
    color: purple;
    text-align: center;
}
.ICA{
    color: skyblue;
    text-align: center;
}
.RDJ{
    color: rgb(79, 231, 79);
    text-align: center;
}
.container{
    align-items: center;
}
